.tox
/.pytest_cache/
/htmlcov
/sandbox
/build
/dist

/src/vimseo.egg-info

*.pyc
/.project
/.pydevproject
/.settings
/.idea
/.vim*
/.vscode
/.ipynb_checkpoints
/tags

/docs/generated/
/docs/runnable_examples/**/*.png
/docs/runnable_examples/**/*.html
/docs/runnable_examples/**/*.pickle
/docs/runnable_examples/**/*.hdf
/docs/runnable_examples/**/*.hdf5
/docs/runnable_examples/**/results.json
/docs/images/*.pptx
/model_runs
/site
/docvimseo

coverage.xml
.coverage*
!.coveragerc

/.pytest_cache
